// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


h1, h2, h3, h4, h5, h6 {
	padding: 5px 10px;
	font-family: georgia,serif;
	font-weight: 700;
}

p {
	font-family: Open Sans,tahoma,geneva,sans-serif;
	font-size: 1.1rem;
}

.documentation p {
	margin: 15px 10px;
}

.doc-nav {
	background-color: $light-blue;
	padding: 15px 20px;
	border-radius: 5px;
}

h1.entry-title {
	background-color: #fff;
}

.entry-content {
	overflow: hidden;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content h2 {
	border-left: 8px $light-blue solid;
	margin-top: 30px;
}

// .entry-content h2:after {
//     left: .5em;
//     margin-right: -30%;
// }

// .entry-content h2:after {
//     background-color: $light-blue;
//     content: "";
//     display: inline-block;
//     height: 5px;
//     position: relative;
//     vertical-align: middle;
//     width: 100%;
// }

.doc-nav h3 {
	font-size: 1.4rem;
	margin-left: 10px;
}

.warning {
	border: 2px solid red;
	margin: 20px 10px;
	font-size: 1.3rem;
	padding: 20px;
	border-radius: 5px;
}

//home 

.home-title {
	text-align: center;
	font-size: 4rem;
	margin: 40px auto;
}

.highlights {
	margin-top: 100px;
}

.highlights .col-md-4 {
	margin-bottom: 40px;
}

.highlights .card {
	padding: 10px 15px;
	// height: 325px;
	position: relative;
}

.highlights h2 {
	text-align: center;
	border-left: 0;
}

.highlight-desc {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 200;
	margin-bottom: 30px;
}

.highlights .card-footer {
	background-color: #fff;
	border-top: none;
}

.highlights .btn-primary {
	width: 250px;
	border-radius: 30px;
	font-weight: 700;
	margin: auto;
	display: block;
	margin: 0px auto 20px auto;
}